<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quotes</title>
    <link rel="stylesheet" href="/main.css">
</head>
<body class="animated-bg">
    <div class="quotes">
        <div class="quotes-header">
            <a href="/" class="home-button">🏠</a> 
            <div class="quotes-title">All Quotes</div>
        </div>
        <% quotes.forEach(quote => { %>
            <div class="quote">
                <div class="quote-actions">
                    <button class="delete-btn" title="Видалити" data-id="<%= quote.id %>"> 🗑️ </button>
                    <a href="/edit/<%= quote.id %>">
                        <button class="edit-btn" title="Редагувати">✏️</button>
                    </a>
                </div>
                <a href="/quote/<%= quote.id %>" class="quote-link">
                    <blockquote><%= quote.text %></blockquote>
                <div class="quote-footer">
                    <span class="quote-author"><%= quote.author %></span>
                    <span class="quote-date"><%= quote.createdAt.toLocaleDateString() %></span>
                </div>
            </div> 
        <% }) %>

        <a href="/add" class="button-link">
            <button class="add-quote-btn" title="Додати нову цитату">➕</button>
        </a>
    </div>

    <script>
        document.addEventListener('click', (e) => {
            const id = e.target?.dataset?.id || null;
            if (id) {
                fetch(`quote/${id}`, {
                    method: 'DELETE',
                }).then(() => {
                    window.location.reload();
                })
            }
        })
    </script>
</body>
</html>
